.menu li {
    list-style: none;
    padding: 0em;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-decoration-line: none;
}

.menu li:hover {
    background-color: #c7eaff;    
}