.menu li {
    list-style: none;
    padding: 0em;
    cursor: pointer;
    display: inline-block;
    text-decoration-line: none;
    margin-right: 5px;
}

.menu li ::before { 
    margin-right: 0px;
}

.menu li:hover {
    background-color: #c7eaff;    
}