<header class="layout-cabecalho">
  <div class="container">
    <img src="../assets/imagens/logo.png" alt="Pirâmide" class="logo"> 
    <nav class="navegacao__menu">
      <app-menu></app-menu>
      <router-outlet></router-outlet>
    </nav>
  </div>
</header>

<section class="layout-chamada">
  <div class="container">
    <div class="chamada">
      <h1 class="chamada__titulo">É Pirâmide</h1>
      <p class="chamada__subtitulo">Você não é faraó para ter uma</p>
    </div>
  </div>
</section>

<div class="layout-passos" id="identificar">
  <div class="container">
    <app-passos></app-passos>
  </div>
</div>

<div class="layout-noticias" id="noticias">
  <div class="container">
    <app-noticias></app-noticias>
  </div>
</div>

<div class="layout-denuncias">
  <div class="container">
    <app-denuncias></app-denuncias>
  </div>
</div>

<footer class="layout-rodape">
  <div class="container">
    <p>&copy; ÉPirâmide. Todos os direitos reservados.</p>
  </div>
</footer>